<h1>{{title}}</h1>
<h2>{{brand.name}}</h2>
<h2>{{brand.description}}</h2>

<h3> This brand contains these item(s) In stock</h3>
need to put a if statement to not display form if items exist
{{#each brand_products}}
  {{this.name}}
  {{this.description}}
{{/each}}
<p>You must delete the following items in stock first</p>
<form method="POST" action="">
  <h4>Are you sure you want to delete brand and all associated stock</h4>

  <input type="hidden" name="brandid" required="true" value={{brand._id}} />
  <button type="submit">Delete</button>
</form>