<div class="container-fluid h-100">
  <h1 class="text-center page-header">Brands</h1>
  {{#each brand_list}}
    <div
      class="container d-flex justify-content-center align-items-center flex-column p-4"
    >
      <a href="{{this.url}}">
        <img src="{{this.brandimage}}" alt="" />
      </a>
      <h3> {{this.name}}</h3>
      <p>{{this.description}}</p>
      <a href="{{this.url}}/delete"><button
          type="button"
          class="btn btn-danger"
        >X</button></a>
    </div>
  {{/each}}

</div>