<div
  class="container-fluid d-flex justify-content-center flex-fill h-80 align-items-center flex-column"
>

  <h1 class="page-header">{{title}}</h1>

  <form method="POST" enctype="multipart/form-data">
    <div class="row g-4 justify-content-md-center">
      <div class="form-group col-12">
        <label for="name" class="form-label">Name</label>
        <input
          name="name"
          type="text"
          placeholder="Enter product name"
          required="true"
          value=""
          class="form-control"
        /></div>
      <div class="form-group col-12">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          type="text"
          placeholder="Enter product description"
          required="true"
          value=""
          class="form-control"
        ></textarea>
      </div>
      <div class="form-group col-12">
        <label for="productimage" class="form-label">Name</label>
        <input
          name="productimage"
          type="file"
          placeholder="Upload image"
          value=""
          class="form-control"
        /></div>
      <div class="form-group col-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          name="price"
          min="1"
          max="10000"
          required="true"
        />
      </div>
      <div class="form-group col-3">
        <label for="brands" class="form-label">Brand</label>
        <select name="brands" class="form-select" id="brands" name="brands">
          {{#each brands}}
            <option value="{{this._id}}">{{this.name}}</option>

          {{/each}}
        </select>
      </div>
      <div class="form-group col-3">
        <label for="brands" class="form-label">Category</label>
        <select
          name="category"
          class="form-select"
          id="category"
          name="category"
        >
          {{#each categories}}
            <option
              name="category"
              for="{{this._id}}"
              value="{{this._id}}"
            >{{this.type}}</option>

          {{/each}}
        </select>
      </div>

      <div class="col-3 mt-5">
        <button type="submit" class="btn btn-primary">Add product</button>

      </div>
    </div>
  </form></div>

{{errors}}